<!doctype html>
<html>
  <head>
    <title>{{ current }}</title>
    <meta charset=utf-8 />
    <link rel=stylesheet href=/css/main.css >
    <link rel=stylesheet href=/css/block.css >
    <link rel=stylesheet href=/css/typo.css >
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>

  <body>
  <div id=page>
    
    <div class=container>    
      <div class=row> 
        <section id=hero class=12u>    
          
          <img src=/img/logo.png />
          <h1>GDG</h1>
        
        </section> 
    

        <!---
        <section id=gdg-info class=12u>
          <header>
            <h1>Google Developer Group Myanmar</h1>
          </header>
          <div class=row>
            <article class=6u>
              <p>We are a group of passionate people who love to use Google's Technologies in our ways</p>
            </article>

            <aside class=6u>
              <nav>
                <h3>Events</h3>
              </nav>
            </aside>
          </div>
        </section> 
        --->   
      </div>
    </div> 
  </div>
  </body>
<script type=text/javascript src=/js/main.js ></script>
<script type=text/javascript src=/js/skel.min.js ></script>
</html>
